.git
.gitignore
.dockerignore
.env*
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-log.txt
pip-delete-this-directory.txt
.venv
node_modules/
.github/
tests/
mockservertests/
mh-mock-test-ss/
docs/
assets/prompts/*.md.bak
logs/
*.log
README.md
CONTRIBUTING.md
LICENSE.md
CODE_OF_CONDUCT.md
