services:
  app:
    container_name: oan_app
    build: .
    ports:
      - "8000:8000"
    volumes:
      - .:/app
    env_file:
      - .env  
    depends_on:
      - redis
    restart: unless-stopped
    networks:
      - oannetwork

  redis:
    image: redis:alpine
    container_name: oan_redis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    restart: unless-stopped
    networks:
      - oannetwork

volumes:
  redis_data:

networks:
  oannetwork:
    external: true